<!DOCTYPE html>
<html>
<head>
    <title>Blog Overview</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/blogEntry.css">
</head>
<body>
    {{>navigation}}
    <div class="blog-entry">
    {{{markdown}}}
    </div>

</body>
</html>