<!DOCTYPE html>
<html>
<head>
    <title>Blog Overview</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    {{>navigation}}
    <div class="stuff">
        <h1>Blog Entries:</h1>
        <div class="blogEntries">
            {{#each data}}
                <a href="/blog/{{url}}">
                    <div class="blogEntry">
                        <h2 class = "heading">{{heading}}</h2>
                        <p>{{content}}</p>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
    
</body>
</html>